asgiref==3.7.2
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
cryptography==41.0.4
defusedxml==0.7.1
Django==4.2.6
django-allauth==0.57.0
et-xmlfile==1.1.0
idna==3.4
numpy==1.26.0
oauthlib==3.2.2
openpyxl==3.1.2
pandas==2.1.1
pycparser==2.21
PyJWT==2.8.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python3-openid==3.2.0
pytz==2023.3.post1
-e git+https://github.com/SuNseTgReeN/R4C.git@4325482178e058b272dd487acbd594a7e39b0570#egg=r4c
requests==2.31.0
requests-oauthlib==1.3.1
six==1.16.0
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.0.6
XlsxWriter==3.1.6
